//header nav menu
@media (min-width: 320px) and (max-width: 1220px) {
	.head-nav-menu  .head-menu {float: none;}
	.nav {
		display: none;
		li a {border-top: 1px solid #ccc;
			&:hover {
				color: $accent_color;
				border-left: 3px solid $accent_color;
			}
		}
	}
	.nav li:first-child a {border-top: none;}
	#touch-menu {
		min-height: 90px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		text-decoration: none;
		.fa-bars {font-size: 22px;}
	}
}
//header nav menu - end