.post header .title a:hover {
	transition: all .4s ease-in-out;
	text-decoration: none;
}
.post {
	margin-bottom: 25px;
	border: 1px solid #aaaaab;
	.title,	p {padding: 0 15px;}
	footer a:hover {text-decoration: none;}
	.fa {
		font-size: 20px;
		padding-right: 20px;
	}
}
.post footer {
	min-height: 40px;
	text-align: center;
	border-top: 1px solid #aaaaab;
	a {
		line-height: 40px;
	}
}
.posts-navigation {display: none;}
.pagination {
	.page-numbers {
		margin-right: 15px;
		display: inline-block;
		width: 45px;
		text-align: center;
		line-height: 45px;
	}
	.current a{
		font: 700 24px $primary_font;
	}
}