.home-partners {
	padding: 60px 0 100px 0;
	width: 100%;
	min-height: 300px;
	.title {
		text-align: center;
		margin-bottom: 60px;
	}
}
.site-footer {
	width: 100%;
	.contact {
		min-height: 765px;
	}
}
.footer-logo-box {
	width: 100%;
	.container {
		min-height: 225px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.footer-copy-right {
	width: 100%;
	.copy-box {
		min-height: 75px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.copy-right {
		display: block;
		font: 300 18px $primary_font;
	}
}
.contact {
	width: 100%;
	min-height: 765px;
	.phone {
		display: block;
	}
	.map {
		width: 560px;
		height: 385px;
		background-color: red;
	}
}