.head-nav-menu {
	width: 100%;
	min-height: 65px;
	// background-color: $additional_color;
	box-shadow: 3px 1px 3px #000000;
	.logo {
		margin-top: 15px;  //лого відступ
		float: left;
	}
	.head-menu {float: right}
}
.nav {
	min-height: 65px; //высота конетейнера меню
	display: flex;
	align-items: center;
}
.nav li a,
#touch-menu {
	display: block;
	padding: 10px 20px;
	color: $secondary_font_color;
	font: 700 14px/24px $primary_font;
	text-transform: uppercase;
}
.nav li a:hover, #touch-menu:hover, .nav li:hover {
	color: $accent_color;
	text-decoration: none;
	background-color: transparent;
	transition: all .3s ease-in-out;
}
#touch-menu {display: none;}
// #masthead{
//    top: 0;   //отступ шапки от верха
//    position: fixed;
//    z-index: 1000;
//    width:100%;
//    height:50px;
//  }