.single-post {
	img {
		padding: 0 10px 10px 0;
		float: left;
	}
	.title {
		color: #d35400;
		font: 700 18px $primary_font;
	}
	h2 {
		padding-left: 20px;
		color: #f9690e;
		font: 700 24px $primary_font;
	}
}